html {
  box-sizing: border-box;
  font-family: "Outfit", " Young Serif", serif;
  font-size: 16px;
  font-weight: 400;
}
body {
  padding: 20px;
  background-color: #f3e6d8;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2,
h3,
p {
  margin: 0;
}
hr {
  width: 100%;
  color: #e4ded8;
  opacity: 0.5;
  margin: 20px 0 20px 0;
}
.container {
  width: 375px;
  background-color: #ffffff;
  padding: 24px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.09);
}
h1 {
  color: #302d2c;
}
.title-description img {
  border-radius: 8px;
  width: 100%;
}
.title-description h1 {
  font-size: 1.5rem;
  font-family: "Young Serif", serif;
}
.prep-time {
  background-color: #fff5fa;
  padding: 20px;
  margin-top: 10px;
}
.prep-time h2 {
  color: #7b284f;
  margin-bottom: 10px;
}
.prep-time ul,
.ingredients ul {
  margin: 0;
  padding: 0 0 0 20px;
  display: inline-block;
  color: #5f574e;
}
.ingredients li {
  margin-bottom: 10px;
}
.prep {
  margin-left: 10px;
  font-weight: bold;
}
.instructions ol {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #5f574e;
}
.ingredients h2,
.instructions h2,
.nutrition h2 {
  font-family: "Young Serif", serif;
  margin: 20px 0;
  color: #854632;
  font-weight: 400;
  font-size: 1.2rem;
}

ol {
  list-style: none;
  counter-reset: num;
}

ol li {
  counter-increment: num;
  display: flex;
  margin-bottom: 10px;
}

ol li::before {
  content: counter(num) ". ";
  color: #854632;
  margin-right: 10px;
  font-weight: bold;
}
.nutrition-facts {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 250px;
}
.nutrition p {
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.nutrition-facts .item {
  width: 50%;
}
