html {
  box-sizing: border-box;
  font-family: "Outfit", " Young Serif", serif;
  font-size: 16px;
  font-weight: 400;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f3e6d8;
}
header.title-description h1 {
  font-size: 2rem;
  margin: 0 0 10px 0;
}
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
}
ul li {
  padding-left: 10px;
  margin-bottom: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  /* background-color: #ffffff; */
  height: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.09);
  margin: 100px auto;
  background-color: white;
}
.inner-container {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}
.inner-container img {
  border-radius: 10px;
  width: 90%;
  margin-top: 20px;
}
.lower-container {
  padding: 20px;
}
img {
  height: 300px;
}
h1 {
  color: #302d2c;
}
.title-description h1 {
  font-size: 1rem;
  font-family: "Young Serif", serif;
}
.prep {
  font-weight: bold;
}
.prep-time {
  background-color: #fff5fa;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
}
.prep-time ul li {
  font-size: 1rem;
}
.prep-time h2 {
  color: #7b284f;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.prep-time ul,
.ingredients ul {
  margin: 0;
  padding: 0 0 0 20px;
  display: inline-block;
  color: #5f574e;
}
.ingredients ul {
  font-size: 1rem;
}
.instructions ol {
  font-size: 1rem;
  margin-left: 20px;
  padding: 0;
  color: #5f574e;
}
.instructions li::marker {
  color: #854632;
  font-size: 1rem;
  font-weight: bold;
}
.instructions li {
  padding-left: 20px;
  margin-bottom: 5px;
  font-size: 1rem;
}
.ingredients h2,
.instructions h2,
.nutrition h2 {
  font-family: "Young Serif", serif;
  margin: 10px 0;
  color: #854632;
  font-weight: 400;
  font-size: 1.2rem;
}
.nutrition p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.nutrition-facts {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 250px;
}
.nutrition-facts .item {
  font-size: 1rem;
  width: 40%;
  padding: 15px;
}
.nutrition-facts .item:nth-child(-n + 6) {
  border-bottom: 1px solid #e4ded8;
}
.nutrition-facts .facts {
  color: #854632;
  font-weight: bold;
  font-size: 1rem;
}

@media (max-width: 576px) {
  .container {
    margin: 0;
    border-radius: none;
  }
  .inner-container img {
    border-radius: 0;
    margin: 0;
    width: 100%;
  }
}
